# Алгоритмы и структуры данных. Домашнее задание

В домашнем задании есть обязательные и дополнительные задачи.

*Обязательные задачи* нужно сделать, чтобы проверить, что вы действительно усвоили материал модуля. Они обязательны к загрузке на проверку преподавателю.

*Дополнительные задачи* для тех, кто чувствует, что нужно ещё немного потренироваться и порешать задачки по программированию. Вы также можете загрузить их на проверку преподавателю и получить по ним обратную связь.

Удачи!



---



---

**Цели домашнего задания:**
1. Проверить умение работать со списками в Python, управлять их элементами с помощью циклов.
2. Проверить понимание и умение воспроизвести алгоритмы сортировки и поисков.
3. Научиться алгоритмизировать свои собственные оптимальные алгоритмы.

**Что входит в домашнее задание:**
1. *Обязательные задачи*:
- два максимальных элемента в списке,
- среднее значение по оценкам в списке,
- одна из модификаций линейного поиска,
- сложность бинарного поиска,
- сортировка топ-2 элементов,
- сравнительный анализ.
2. *Дополнительные задачи*:
- индекс минимального элемента в списке,
- подсчёт чётных элементов в списке,
- самая длинная цепочка пятёрок,
0 сортировка вставкой.

**Критерии оценки:**
- программа выдаёт верный ответ на разных наборах входных данных;
- код читабелен: переменным даны осмысленные названия, отступы и правила расстановки пробелов соблюдены.

**Как отправить задание на проверку**

Выполните задачи, сохраните изменения при помощи опции Save and Checkpoint из вкладки меню File или кнопки Save and Checkpoint на панели инструментов. Отправьте через форму на платформе итоговый файл Jupyter Notebook (в формате .ipynb) или ссылку на него.



---


---

**Обязательные задачи**

***Задача 1. Два максимальных элемента в списке***

Дан список трат клиента за неделю: `transactions`. Найдите две самые крупные траты клиента за неделю и выведите их на экран. Используйте алгоритм нахождения максимального элемента для решения задачи. 
<br>
Проверьте, что программа работает на разных списках.

Пример:
<br>
Input: `transactions = [100, 200, 300, 10, 499]` 
<br>
Output: `300, 499`

In [ ]:
transactions = [100, 98, 1000, 2500, 299, 1898, 1989, 2001, 50, 10, 70]

In [ ]:
# Допишите инициализации переменных
max_1 = transactions [0]
max_2 = transactions [0]

# Ваш код здесь
for i in range (1, len(transactions)):
  if max_1 < transactions [i]:
    max_1 = transactions[i]
for j in range (1, len(transactions)):
  if max_1 > transactions [j] > max_2: 
    max_2 = transactions [j]

print(max_1, max_2)

2500 2001

In [ ]:
transactions = [100, 200, 300, 10, 499]

In [ ]:
# Допишите инициализации переменных
max_1 = transactions [0]
max_2 = transactions [0]

# Ваш код здесь
for i in range (1, len(transactions)):
  if max_1 < transactions [i]:
    max_1 = transactions[i]
for j in range (1, len(transactions)):
  if max_1 > transactions [j] > max_2: 
    max_2 = transactions [j]

print(max_1, max_2)

499 300

***Задача 2. Среднее значение по оценкам в списке***

Вспомним нашу задачу по аналитике на данных по оценкам от клиентов, записанных в `user_scores`. Мы считали максимальную, минимальную оценку. Теперь давайте посчитаем среднюю оценку от пользователей за день. 
<br>
Проверьте, что ваша программа верно считает средние значения на разных списках.

Пример:
<br>
Input: `user_scores = [3, 3, 5, 5, 1, 1]`
<br>
Output: `3`

In [ ]:
user_scores = [1, 4, 5, 5, 5, 5, 5, 4, 4, 4, 3, 1]

In [ ]:
# Ваш код здесь
sum = user_scores[0] 
for i in range (1, len(user_scores)):
  sum += user_scores[i];
  average = sum / len(user_scores)
print (average)

3.8333333333333335

In [ ]:
user_scores = [3, 3, 5, 5, 1, 1]

In [ ]:
sum = user_scores[0] 
for i in range (1, len(user_scores)):
  sum += user_scores[i];
  average = sum / len(user_scores)
print (average)

3.0

***Задача 3. Одна из модификаций линейного поиска***

Дан список операций по карте одного из клиентов. Операции могут быть положительными (зачисления на карту) и отрицательными (траты клиента). Найдите все зачисления на карту и выведите их сумму. Если зачислений не было, выведите 0. 
<br>
Проверьте работоспособность программы на разных списках.

Пример:
<br>
Input: `transactions = [−100, −200, −100, 1000, 50, −90]`
<br>
Output: `1050`

In [ ]:
transactions = [-1000, -200, -90, -80, -78, -61, 200, -9, -31, 200, 600, -100, 1000]

In [ ]:
# Ваш код здес
coming_money = 0
for i in range (0, len(transactions)):
  if transactions[i] > 0:
    coming_money += transactions[i]
print (coming_money)

2000

In [ ]:
transactions = [-100, -200, -100, 1000, 50, -90]

In [ ]:
# Ваш код здесь
coming_money = 0 
for i in range (1, len(transactions)):
  if transactions [i] >  0: 
    coming_money += transactions [i];
print (coming_money)

1050

***Задача 4. Сложность бинарного поиска***

Реализуйте алгоритм бинарного поиска, который ищет значение `key` в отсортированном списке `my_list`. Выведите на экран следующую информацию:
- `True` — если элемент найден, `False` — если не найден.
<br>
- Количество сравнений с серединным элементом, которое было совершено, чтобы завершить бинарный поиск.
<br>

Проверьте работоспособность программы на разных списках.

Пример: 
<br>
Input: `my_list = [100, 200, 700, 1000, 1200] key = 1000` 
<br>
Output: `True`, `2`

In [ ]:
my_list = [0, 20, 30, 34, 45, 56, 67, 78, 90, 100, 110]
key = 89

In [ ]:
B = 0 
E = len(my_list) - 1
found = False 

while not found: 
  mid_index = int ((B + E) / 2)
  mid_value = my_list[mid_index]
  if mid_value == key: 
    found == True
  elif B == E:
    break 
  elif mid_value < key: 
    B = mid_index + 1
  else:
    E = mid_index - 1
print(found)

False

In [ ]:
my_list = [100, 200, 700, 1000, 1200]
key = 1000

In [ ]:
B = 0 
E = len(my_list) - 1
found = False 

while not found: 
  mid_index = int((B + E) / 2)
  mid_value = my_list[mid_index]
  if mid_value == key: 
    found == True
  elif B == E:
    break 
  elif mid_value < key: 
    B = mid_index + 1
  else:
    E = mid_index - 1

print(found)

KeyboardInterrupt: ignored

***Задача 5. Сортировка топ-2 элементов***

У нас есть всё тот же список с транзакциями клиентов из первой задачи. Нам нужно отсортировать этот список таким образом, чтобы топ-2 максимальные транзакции оказались в конце списка, отсортированные по возрастанию. Порядок остальных элементов значения не имеет. Доработайте алгоритм сортировки пузырьком для решения этой задачи.
<br>Проверьте работоспособность программы на разных списках.

Пример:
<br>
Input: `transactions = [100, 200, 90, 70, 120]`
<br>
Output: `[90, 70, 100, 120, 200]`

In [ ]:
transactions = [100, 98, 1000, 2500, 299, 1898, 1989, 2001, 50, 10, 70]

In [ ]:
# Ваш код здесь
n = len(transactions)

for i in range(1, n): 
  for j in range (0, n-i):
    if transactions[j+1] < transactions [j]:
      transactions[j], transactions[j+1] = transactions[j+1], transactions[j]
  #print(j, j+1, end = ';')
  if i > 1: 
    break 
print(transactions)

[98, 100, 299, 1000, 50, 10, 70, 1898, 1989, 2001, 2500]

In [ ]:
transactions = [100, 200, 90, 70, 120]

In [ ]:
n = len(transactions)

for i in range(1, n): 
  for j in range (0, n-i):
    if transactions[j+1] < transactions [j]:
      transactions[j], transactions[j+1] = transactions[j+1], transactions[j]
   #print(j, j+1, end = ';')
  if i > 1: 
    break 
print(transactions)

[90, 70, 100, 120, 200]

***Задача 6. Сравнительный анализ***

Сравните количество операций, которое было совершено в задаче 1 для нахождения двух максимальных элементов на списке `transactions`, и количество операций, которое понадобится для нахождения максимальных методом из задачи 5 в том же списке. Какой метод лучше?
Напишите ваше объяснение.

Напишите ваше объяснение тут

>

В задаче №1 всего выполняется 20 операций. В задаче №2 выполняется 19 операций. Думаю что, метод №2 лучше так как он находит самое максимальное значение, и в следующий раз (когда приступает к поиску следующего максимального числа) уже не рассматривает макс_1 число



---


---

**Дополнительные задачи**

***Задача 7. Индекс минимального элемента в списке***

Дан список `week_data` из семи элементов, который хранит в себе количество обращений, обработанных кол-центром в каждый день недели. Выведите порядковый номер дня, в который было обработано меньше всего обращений. 
<br>
Проверьте работоспособность программы на разных списках.

Пример:
<br>
Input: `week_data = [1, 20, 12, 35, 0, 7, 8]`
<br>
Output: `5`

In [ ]:
week_data = [8, 10, 9, 8, 13, 5, 17]

In [ ]:
# Ваш код здесь
min_value = week_data[0]
for i in range (1, len(week_data)):
  if min_value > week_data[i]: 
    min_value = week_data[i]
    print(i+1)

6

In [ ]:
week_data = [1, 20, 12, 35, 0, 7, 8]

In [ ]:
# Ваш код здесь
min_value = week_data[0]
for i in range (1, len(week_data)):
  if min_value > week_data[i]: 
    min_value = week_data[i]
    print(i+1)

5

***Задача 8. Подсчёт чётных элементов в списке***

Дан всё тот же список `week_data` из семи элементов, в котором лежит количество обращений, обработанных кол-центром. Выведите порядковые номера дней, в которые количество обращений было чётное. 
<br>
Проверьте работоспособность программы на разных списках.

Пример:
<br>
Input: `week_data = [1, 20, 12, 35, 0, 7, 8]`
<br>
Output: `2, 3, 7`

In [ ]:
week_data = [8, 10, 9, 8, 13, 5, 17]

In [ ]:
# Ваш код здесь
for i in range (0, len(week_data)): 
  if week_data[i] % 2 == 0 and week_data[i] !=0: 
    print(i+1, end = ' ')

1 2 4

In [ ]:
week_data = [1, 20, 12, 35, 0, 7, 8]

In [ ]:
# Ваш код здесь
for i in range (0, len(week_data)): 
  if week_data[i] % 2 == 0 and week_data[i] !=0: 
    print(i+1, end = ' ')

2 3 7

In [ ]:
user_scores = [1, 5, 5, 1, 5, 5, 5, 2, 5, 5, 1, 5]