# Функции. Домашнее задание

В домашнем задании есть обязательные и дополнительные задачи.

*Обязательные задачи* нужно сделать, чтобы проверить, что вы действительно усвоили материал модуля. Они обязательны к загрузке на проверку преподавателю.

*Дополнительные задачи* для тех, кто чувствует, что нужно ещё немного потренироваться и порешать задачки по программированию. Вы также можете загрузить их на проверку преподавателю и получить по ним обратную связь.

Удачи!

---

**Цели домашнего задания:**
1. Научиться декомпозировать код с помощью функций.
2. Попрактиковаться в использовании встроенных функций и методов.
3. Проверить понимание и умение работать с рекурсивными функциями.
4. Отработать обработку текстовых данных.

**Что входит в домашнее задание:**
1. *Обязательные задачи*:
- Конвертация валют.
- Обработка анкет.
- Факториал.
- Палиндром

2. *Дополнительные задачи*:
- Количество цифр в числе.
- Количество отличников и двоечников.
- Калькулятор.

**Критерии оценки:**
- программа выдаёт верный ответ на разных наборах входных данных;
- код читабелен: переменным даны осмысленные названия, отступы и правила расстановки пробелов соблюдены;
- код соответствует принципу DRY и декомпозирован с помощью функций.


**Как отправить задание на проверку**

Выполните задачи, сохраните изменения при помощи опции Save and Checkpoint из вкладки меню File или кнопки Save and Checkpoint на панели инструментов. Отправьте через форму на платформе итоговый файл Jupyter Notebook (в формате .ipynb) или ссылку на него.



---



---

**Обязательные задачи**

*Задача 1. Конвертация валют*

Напишите функцию `rub_to_currency`, которая переводит деньги в рублях в одну из двух валют: USD или CNY. У функции должно быть два входных параметра:
1. `rub_amount` — деньги в рублях;
2.  `currency` — валюта, в которую нужно совершить перевод. Если второй параметр не указан, по умолчанию следует считать его равным USD.

На выходе функция должна вывести на экран, сколько рублей было дано в начале и сколько денег получилось в заданной валюте. В случае с китайским юанем также нужно вывести промежуточное значение в долларах. Если на вход в `currency` приходит невалидное значение, нужно вывести на экран сообщение: «Расчёт не может быть совершён».

Декомпозируйте данную задачу на несколько функций.

Проверьте, что функция `rub_to_currency` в последующих ячейках отработала верно.

In [ ]:
# Создайте вспомогательные функции для перевода в доллар и китайский юань
# Считайте курс доллара к рублю следующим: 1USD = 70,99RUB, курс доллара к юаню: 1USD = 6,44CNY
def rub_to_USD(rub): 
  return rub/70.99

In [ ]:
def rub_to_CNY(rub): 
  return rub/70.99 * 6.44

In [ ]:
def rub_to_currency(rub_amount, currency = None):
    # функция без return  
    
    if currency == "USD": 
      print(f"было: {rub_amount} RUB, стало: {rub_to_USD(rub_amount)} USD")
    
    elif currency == "CNY": 
      print(f"было: {rub_amount} RUB, стало: {rub_to_USD(rub_amount)} USD")
      print(f"было: {rub_amount} RUB, стало: {rub_to_CNY(rub_amount)} CNY")

    elif currency == None: 
      print(f"было: {rub_amount} RUB, стало: {rub_to_USD(rub_amount)} USD")
    
    else: 
      print('Расчет не может быть совершен')

In [ ]:
rub_to_currency(7200, 'USD')

было: 7200 RUB, стало: 101.4227355965629 USD

In [ ]:
rub_to_currency(7200, 'CNY')

было: 7200 RUB, стало: 101.4227355965629 USD
было: 7200 RUB, стало: 653.1624172418651 CNY

In [ ]:
rub_to_currency(7200, 'EUR')

Расчет не может быть совершен

In [ ]:
rub_to_currency(7200)

было: 7200 RUB, стало: 101.4227355965629 USD

*Задача 2. Обработка анкет*

Вам выгрузили список с анкетами потенциальных клиентов, которые заинтересовались покупкой подписки на здоровую еду. Вам нужно обработать эти значения и сказать, какие анкеты подходят (а какие нет) для дальнейшего обзвона колл-центром.

Условия, которым должна удовлетворять анкета:
* Есть контактная информация: номер телефона.
* Контактный номер начинается либо с восьмёрки, либо с семёрки и состоит из десяти символов.
* Город проживания: Москва.

Пример анкеты выглядит следующим образом: `name=Аня,phone=8800234 , city=москва`. Заметьте, в значениях параметров городов, имён, номеров телефонов могут встретиться лишние пробелы. Попробуйте удалить их с помощью метода `replace`.

In [ ]:
# Метод replace заменяет все вхождения строки, указанной первым аргументом, на строку, указанную вторым аргументом

# Замена восклицательного знака на пустоту
print('!!!aaaa'.replace('!',''))
# Замена а на вопросительный знак
print('!!!aaaa'.replace('a','?'))
# Замена двух восклицательных знаков на вопросительный
print('!!!aaaa'.replace('!!','?'))

aaaa
!!!????
?!aaaa

In [ ]:
applications = [
         'name=Аня,phone=8800234 ,city=москва',
         'name=КОЛЯ,phone=8800900871 ,city=МОСКВА',
         'name=Валентина,phone=7950900871 ,city=волгоград',
         'name=,phone=7999901871,city=москва',
         'name=Иван,phone=7999901871,city=москва',
         'name=Инга,phone=,city=москва'

]

In [ ]:
from typing import NamedTuple
# функция проверки валидности номера
def check_phone(phone):
  
  norm_phone = phone.replace(' ','') 
  only_phone = norm_phone[6:]
  #Ваш код здесь
  if len(only_phone) == 10 and (only_phone[0] == '8' or only_phone[0] == '7'): 
    return True
 
  elif len(only_phone) == 0: 
    return False

  else: 
    return False

In [ ]:
# функция проверки города
def check_city(city):
  #Ваш код здесь
  normalized_city = city.lower()
  index = normalized_city.find('москва')
  if index != -1: 
    return True 
  
  else: 
    return False

In [ ]:
# функция проверки одной анкеты
def check_application(application):
  #Ваш код здесь
    phone_number = check_phone(application.split(",")[1])
    city_name = check_city(application.split(",")[2])
    
    return phone_number and city_name

In [ ]:
# функция проверки списка анкет
def find_valid_applications(applications):
  #Ваш код здесь
  for application in applications: 
    result = check_application(application)
    print(f"{application} --- {result}")

Результат функции должен быть напечатан на экран в следующем виде:

In [ ]:
find_valid_applications(applications)

name=Аня,phone=8800234 ,city=москва --- False
name=КОЛЯ,phone=8800900871 ,city=МОСКВА --- True
name=Валентина,phone=7950900871 ,city=волгоград --- False
name=,phone=7999901871,city=москва --- True
name=Иван,phone=7999901871,city=москва --- True
name=Инга,phone=,city=москва --- False

*Задача 3. Факториал*

Факториалом числа n называется произведение всех натуральных чисел от 1 до n.



> n! = 1 \* 2 \*...\* n

> 3! = 1 \* 2 \* 3 = 6

> 0! = 1

Напишите рекурсивную функцию нахождения факториала, где входным параметром является одно единственное число — n. Проверьте, что функция в последующих ячейках отработала верно.

In [ ]:
# Ваш код здесь
def factorial(n): 
  if n == 0: 
    return 1
  else: 
    return n * factorial(n-1)

In [ ]:
factorial(1)

1

In [ ]:
factorial(0)

1

In [ ]:
factorial(4)

24

*Задача 4. Палиндром*

Палиндромом называется такое слово (или фраза), которое слева направо и справа налево читается одинаково. Нужно написать рекурсивную функцию, которая будет возвращать `True`, если слово палиндром, и `False`, если нет.

Будем считать, что пустая строка также является палиндромом.

Решение должно работать на строках без знаков препинания. Проверьте, что функция в последующих ячейках отработала верно.

In [ ]:
def palindrom(text):
  # Ваш код здесь
  norm_text = text.replace(' ','')
  text_lower = norm_text.lower()
  if len(text_lower) < 2: 
    return True 
  if text_lower[0] != text_lower[-1]:
    return False  
  else:
    return palindrom(text_lower[1:-1])

In [ ]:
palindrom('saippuakivikauppias')

True

In [ ]:
palindrom('murmur')

False

In [ ]:
palindrom('В резерв')

True

In [ ]:
palindrom('Sator Arepo tenet opera rotas')

True



---



---

**Дополнительные задачи**

*Задача 5. Количество цифр в числе*

Напишите функцию, которая рассчитывает количество цифр в целом числе, приходящем ей на вход.

Рассмотрите два способа решения данной задачи: через строковые переменные и без использования строковых переменных.

**Пример:**
<br>
Input: `n = 1234567` 
<br>
Output: `7`

In [ ]:
# Ваш код здесь 
def calculate_number(n):
  digits = len(str(n))
  return digits

In [ ]:
calculate_number(1234567)

7

In [ ]:
def calculate(n):
  count = 0
  while n >= 1:
    n /= 10
    count += 1 
  return count

In [ ]:
calculate(1234567)

7